extend layout

block title
    span Link it to me

block content
    p(class="lead").
        Want to send messages like a secret agent? Enjoy things that blows up? Then this is the website for you!

    p(class="lead").
        Login with your existing Google account to create custom messages that are set to self-destruct on a certain
        date, or after being viewed a certain number of times. You customize when, and how many times, that will be.

    p(class="lead").
        Once you've made a message, you will be given a special link to send to whomever you want to see it; but do be
        careful! You can cause your own messages to explode by clicking on them!

    p(class="lead").
        Don't worry about losing track of secret messages though, all the messages you've made are listed on your admin
        page and can be read without clicking on them &mdash; at least until their timer makes them explode!
